<h2>Showing model is: {{transaction.id}}</h2>
<div class="layout layout-sm-column">
  {{paper-input class="flex-30" label="Amount" value=transaction.amount onChange=(action (mut transaction.amount))}}
  {{paper-input class="flex" label="createdAt" type="text" value=transaction.createdAt disabled=true onChange=(action (mut foo))}}
</div>
{{#paper-button raised=true primary=true onClick=(action "saveTransaction")}}Update{{/paper-button}}
