Showing model is: {{transaction.id}}
<ul>
  <li>{{input type="number" value=transaction.amount}}</li>
  <li>{{transaction.createdAt}}</li>
  <button {{action "saveTransaction"}}>Submit</button>
</ul>
