<h2>Showing model is: {{transaction.id}}</h2>
<ul>
  <li>{{input type="number" value=transaction.amount}}</li>
  <li>{{transaction.createdAt}}</li>
  <button {{action "saveTransaction"}}>Submit</button>
</ul>
