<h2>New transaction</h2>
<p>
  <div class="layout layout-sm-column">
    {{paper-input class="flex-30" label="Amount" value=amountValue onChange=(action (mut amountValue))}}
  </div>
  {{#paper-button raised=true primary=true onClick=(action "newTransaction")}}save{{/paper-button}}
</p>
