{{#each transactions as |transaction|}}
 {{#link-to 'transactions.transaction' transaction.id}}
  {{transaction.amount}}
 {{/link-to}}
  <button {{action "removeTransaction" transaction}}>Delete</button>
{{else}}
  <p>No records here</p>
{{/each}}
