{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{#each transactions as |transaction|}}
 {{#link-to 'transactions.transaction' transaction.id}}
  {{format-currency transaction.amount}}
 {{/link-to}}
  <button {{action "removeTransaction" transaction}}>Delete</button>
{{else}}
  <p>No records here</p>
{{/each}}
